/*@font-face {*/
    /*font-family: Lato;*/
    /*src: url('../fonts/Lato-Regular.ttf');*/
/*}*/

/*@font-face {*/
    /*font-family: Lato Italic;*/
    /*src: url('../fonts/Lato-Italic.ttf');*/
/*}*/

/*@font-face {*/
    /*font-family: Lato Bold;*/
    /*src: url('../fonts/Lato-Bold.ttf');*/
/*}*/

html { overflow-y: scroll; 
background: #f06;
background: -webkit-linear-gradient(45deg, #f06, yellow);
min-height:100%;
}

body {
   
}

/*----------------------footer-----------------------*/
#footer {
color: #ccc;
position: absolute;
bottom: 10px;
left: 20px;
font-size: 0.9em;
line-height: 1.6;
}
.inner {
margin: 0 auto;
position: relative;
width: 1000px;
z-index: 0;
}
.social-sprite, #footer .social a.facebook, #footer .social a.google, #footer .social a.github, #footer .social a.twitter, #footer .social a.rss, #footer .social a.pinterest {
background: url('http://x.srcdd.com/farm1/9bd5eb/06eab87a/social-s5155dc10e4.png') no-repeat;
}
#footer .social a {
display: inline-block;
opacity: 0.7;
width: 16px;
height: 16px;
margin-left: 5px;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
-moz-transition: 0.3s;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}
#footer a {
color: yellow;
}
#footer .social a.google {
background-position: 0 -32px;
}
#footer .social a.facebook {
background-position: 0 0;
}
#footer .social a.twitter {
background-position: 0 -84px;
}
#footer .social a.github {
background-position: 0 -16px;
}
#footer .social a.rss {
background-position: 0 -68px;
}
#footer {
color: #ccc;
font-size: 0.9em;
line-height: 1.6;
}
